<div class="container">
  <div class="row my-5">
    <div class="col-6 d-flex align-items-center justify-content-center">
      <%= image_tag @member.get_icon(400,400) %>
    </div>
    <div class="col-6">
    <table class="table">
      <tr>
        <th>ユーザー名</th>
        <td><%= @member.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @member.email %></td>
      </tr>
    </table>
      <%= link_to "会員情報編集", edit_public_member_path(@member.id), class:"btn btn-primary" %>
      <%= link_to "my投稿一覧", public_posts_path, class:"btn btn-warning" %>
    </div>
  </div>
</div>