<div class="container">
  <div class="row my-5">
    <h1><%= @gym.gym_name %></h1>
  </div>
  <div class="row mb-5">
    <div class="col-6 d-flex align-items-center justify-content-center">
      <%= image_tag @gym.get_gym_image(500,500) %>
    </div>
    <div class="col-6">
      <div class="gym mb-5">
        <h4 class="my-3 border-bottom border-dark">登録マシン台数</h4>
        <h5 class="mb-5"><%= @gym.machines.count %>台　<%= link_to "設置マシン一覧を見る", machine_index_public_gym_path %></h5>
        <h4 class="my-3 border-bottom border-dark">このジムのマシンを使用した投稿</h4>
        <h5 class="mb-5"><%= @gym.posts.count %>件</h5>
      </div>
    </div>
  </div>
</div>