<div class="container">
  <div class="row my-5">
    <div class="col-6">
      <h1>
      <%= @machine.machine_name %>
      <%= link_to "編集", edit_machine_path(@machine), class:"btn btn-primary ml-4" %>
      <%= link_to "削除" ,machine_path(@machine), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger ml-4" %>
      </h1>
      <table class="table h4">
          <tr>
            <th>部位</th>
            <td><%= @machine.site.site_name %></td>
          </tr>
          <tr>
            <th>説明</th>
            <td><%= @machine.explanation %></td>
          </tr>
          <tr class="border-bottom">
            <th>ステータス</th>
            <td><%= @machine.machine_status_i18n %></td>
          </tr>
      </table>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center">
      <%= image_tag @machine.get_machine_image(400,400) %>
    </div>
  </div>
</div>